.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: ìFlipHî; }.copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: ìFlipHî; }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/Ubuntu-R.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Ubuntu-R.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Ubuntu-R.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Ubuntu-R.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Ubuntu-R.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-family: "Oxygen";
  src: url("./fonts/oxygen-bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/oxygen-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/oxygen-bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/oxygen-bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/oxygen-bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.ubuntu {
  font-family: ubuntu;
  font-size: 14px;
  font-weight: regular;
}
#wrapper {
            width:100%;
            margin: 0 auto;
}
          #nav {
  	  width: 100%;
      font-family: ubuntu;
	  float: left;
	  margin: 0 0 3em 0;
	  padding: 0;
	  list-style: none;
	  background-color: #009933;
	  border-bottom: 1px solid #ccc; 
	  border-top: 1px solid #ccc; }
  #nav li {
	  float: left; }
  #nav li a {
	  display: block;
      font-family: ubuntu;
	  padding: 8px 15px;
	  text-decoration: none;
	  font-weight: bold;
	  color: #069;
	  border-right: 1px solid #ccc; }
  #nav li a:hover {
	  color: #c00;
      font-family: ubuntu;
	  background-color: #fff; }
          .fixed {
             position:fixed;
}
span {
  font-family: ubuntu;
  font-size: 14px;
}
h1 {
  font-family: Oxygen;
  text-align: center;
}
h2 {
  font-family: ubuntu;
  text-align: center;
}

h3 {
  font-family: ubuntu;
}
